.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.redCircle {
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  float: right;
  /* position: absolute; */
  margin-top: 7%;
}

.greenCircle {
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  float: right;
  /* position: absolute; */
  margin-top: 7%;
}

.status {
  max-width: 100%;
  height: 100px;
  position: fixed;
  top: 60px;
  right: 20px;
}
/* .status > div {
  float: right;
} */
nav {
  /*position: fixed;*/
  /*bottom: 0;*/
  width: 100%;
  height: 60px;
  display: flex;
  border: solid 2px;
  padding: 1rem;
}

nav > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}